## Librerias

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.options.display.max_columns = False

## **1. Introducción a pandas**

### **1.1 Series**

<ul>
    <li>Son arreglos unidimensionales indexados.</li>
    <li>Nos permiten hacer slicing y buscar por el índice.</li>
    <li>Tambien nos permiten realizar operaciones matemáticas.</li>
    <li>Reciben distintos tipos de datos.</li>
</ul>

In [3]:
a = pd.Series(
    ['El ojo del mundo', 'La gran cacería', 'El dragón renacido', 'El ascenso de la sombra', 'El dragón renacido'],
    index=[1, 2, 3, 4, 5]
)
a

1           El ojo del mundo
2            La gran cacería
3         El dragón renacido
4    El ascenso de la sombra
5         El dragón renacido
dtype: object

### **1.2 DataFrames**

<ul>
    <li>Son la estructura principal de <strong>pandas</strong>.</li>
    <li>Son arreglos de dos dimensiones.</li>
    <li>Vienen indexados por lo que facilitan la búsqueda por columnas o filas.</li>
</ul>

#### **Leyendo archivos**

In [15]:
books = pd.read_csv('Data/bestsellers.csv')

In [16]:
characters = pd.read_json('Data/characters.json')

#### **Filtrando un DataFrame**

In [31]:
# Hacer slicing con las filas
books[0:4]

                                      Name  ...        Genre
0            10-Day Green Smoothie Cleanse  ...  Non Fiction
1                        11/22/63: A Novel  ...      Fiction
2  12 Rules for Life: An Antidote to Chaos  ...  Non Fiction
3                   1984 (Signet Classics)  ...      Fiction

[4 rows x 7 columns]

In [24]:
# Seleccionar por columnas
books[['Name', 'Author', 'Year']]

                                                  Name  ...  Year
0                        10-Day Green Smoothie Cleanse  ...  2016
1                                    11/22/63: A Novel  ...  2011
2              12 Rules for Life: An Antidote to Chaos  ...  2018
3                               1984 (Signet Classics)  ...  2017
4    5,000 Awesome Facts (About Everything!) (Natio...  ...  2019
..                                                 ...  ...   ...
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)  ...  2019
546  You Are a Badass: How to Stop Doubting Your Gr...  ...  2016
547  You Are a Badass: How to Stop Doubting Your Gr...  ...  2017
548  You Are a Badass: How to Stop Doubting Your Gr...  ...  2018
549  You Are a Badass: How to Stop Doubting Your Gr...  ...  2019

[550 rows x 3 columns]

#### **Utilizando Loc**

In [32]:
# Usando Loc
books.loc[0:4, ['Name', 'Author']]

                                                Name                    Author
0                      10-Day Green Smoothie Cleanse                  JJ Smith
1                                  11/22/63: A Novel              Stephen King
2            12 Rules for Life: An Antidote to Chaos        Jordan B. Peterson
3                             1984 (Signet Classics)             George Orwell
4  5,000 Awesome Facts (About Everything!) (Natio...  National Geographic Kids

In [33]:
# Usando Loc
books.loc[:, ['Reviews']]

     Reviews
0      17350
1       2052
2      18979
3      21424
4       7665
..       ...
545     9413
546    14331
547    14331
548    14331
549    14331

[550 rows x 1 columns]

#### **Utilizando Iloc**

In [57]:
books.iloc[:5, 0:3]

                                                Name  ... User Rating
0                      10-Day Green Smoothie Cleanse  ...         4.7
1                                  11/22/63: A Novel  ...         4.6
2            12 Rules for Life: An Antidote to Chaos  ...         4.7
3                             1984 (Signet Classics)  ...         4.7
4  5,000 Awesome Facts (About Everything!) (Natio...  ...         4.8

[5 rows x 3 columns]

In [72]:
books['Prueba'] = books.loc[:,'User Rating'].apply(lambda x: int(x)*2)
books

                                                  Name  ... Prueba
0                        10-Day Green Smoothie Cleanse  ...      8
1                                    11/22/63: A Novel  ...      8
2              12 Rules for Life: An Antidote to Chaos  ...      8
3                               1984 (Signet Classics)  ...      8
4    5,000 Awesome Facts (About Everything!) (Natio...  ...      8
..                                                 ...  ...    ...
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)  ...      8
546  You Are a Badass: How to Stop Doubting Your Gr...  ...      8
547  You Are a Badass: How to Stop Doubting Your Gr...  ...      8
548  You Are a Badass: How to Stop Doubting Your Gr...  ...      8
549  You Are a Badass: How to Stop Doubting Your Gr...  ...      8

[550 rows x 8 columns]

                                                  Name  ... Prueba
0                        10-Day Green Smoothie Cleanse  ...    4.7
1                                    11/22/63: A Novel  ...    4.6
2              12 Rules for Life: An Antidote to Chaos  ...    4.7
3                               1984 (Signet Classics)  ...    4.7
4    5,000 Awesome Facts (About Everything!) (Natio...  ...    4.8
..                                                 ...  ...    ...
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)  ...    4.9
546  You Are a Badass: How to Stop Doubting Your Gr...  ...    4.7
547  You Are a Badass: How to Stop Doubting Your Gr...  ...    4.7
548  You Are a Badass: How to Stop Doubting Your Gr...  ...    4.7
549  You Are a Badass: How to Stop Doubting Your Gr...  ...    4.7

[550 rows x 8 columns]